<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Hello World | Ahmad Fauzan Amirul Isnain</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/icon.ico' %}" />
</head>
<body>
	<div class="main-landing-page">
		<div class="title">
			<h1>Hello, Apa kabar?</h1>
		</div>
		<div class="row">
    		<div class="col-12">
				<div class ="main-form">
					<div class ="form-container">
				    	<form method="POST" action="{% url 'landing_page:add_status' %}">
				    		{% csrf_token %}
					    		{% for data in StatusForm %}
									<div class="form-group row">
									  	<div class="col-10 center">
									    	{{data}}
									    	{% if data.errors %}
									    		{{data.errors}}
									    	{% endif %}
									  	</div>
									</div>
								{% endfor %}
				        	<div class="form-group row">
								<button type="submit" class="save btn btn-primary center">Post</button>
							</div>
				   		</form>
				   	</div>
			   </div>
    		</div>
		</div>
	   <div class="status">
	   		{% for data in status %}
				<div class="panel panel-default">
					<div class="panel-body panel-body-landing border border-dark">
						<div class="status-message">
							<p>{{data.status}}</p>
						</div>
						<div class='right'>
							<p>{{data.date}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
	   </div>
	</div>
</body>
</html>