/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  margin: 0;
  font-size: 2em;
}

/* Grouping content
   ========================================================================== */

html{
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* End of normalize.css */

.main-landing-page {
	padding: 5%;
}

body {
  background-color: #DAE5FF;
}

.status {
  margin:20px;
}

.status-message p {
  font-size: 30px;
  word-wrap: break-word;
}

.panel-body-landing {
	margin-bottom: 40px;
	padding: 20px;
}

.title h1 {
	font-size: 5rem;
  text-align: center
}

.center {
  float: none;
  margin: 0 auto;
}

.right{
  text-align: right;
}

.title{
  margin: 20px;
}

p {
	margin: 0px;
}

.errorlist {
	color: red;
	list-style: none;
	padding: 0px;
	margin-block-start: 0px;
  margin-block-end: 0px;
}

.side-navbar {
  width: 200px;
  background-color: #00264F;
  position: fixed;
  height: 100%;
  z-index: 1;
  overflow-y: auto;
}

.top-navbar {
  background-color: #00264F;
}

.side-navbar a{
  display: block;
  color: #FFF5F5;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 20px;
}

.top-navbar a{
  color: #FFF5F5;
  display: block;
}

.side-navbar a:not(#profile_menu):hover{
  background-color: #019B4E;
}

.top-navbar a:hover{
  background-color: #019B4E;
}

.side-navbar img:hover {
  border-color: #019B4E;
}

.side-navbar .nav-link {
    padding-left: 10px; 
}

#nav_photo {
  padding-left: 25px;
  padding-top: 25px;
}

.main {
  margin-left: 240px;
}

.navbar-nav img {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border: 5px solid white;
    margin: auto;
}

.panel-heading-custom {
  background-color: #3F89E0;
  margin-top: 40px;
  padding: 20px;
}

.header-margin-bottom{
  margin-bottom: 8px;
}

.header-margin-bottom-15{
  margin-bottom: 15px;
}

.panel-body-custom {
  background: #DAE5FF;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

#header-img {
  z-index: -1;
  margin-bottom: -160px;
  width: 100%;
  height: 190px;
}

#profile_photo {
  border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 5px solid white;
    margin: 80px 0px 0px 80px;
}

h2 {
  font-size: 1.6rem;
}

.main-row {
  min-width: 840px;
  margin-right: 10%;
}

.inline {
  display:inline-block;
}

.block {
  display: block;
}

.content {
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.content img {
  vertical-align: baseline;
  width: 70px;
  height: 70px; 
}

.content-word {
  margin-left: 10px;
  vertical-align: top;
}

.gallery img {
  margin: 30px 20px 20px 30px;
  height: 150px;
  width: 150px;
}

.gallery {
  margin-left: 10px;
}

.top-navbar {
  visibility: hidden;
}

.header-versi-dua{
  display: none;
}

.zero-margin-top{
  margin-top: 0;
}

.margin-top-40{
  margin-top: 40px;
}

.form-container {
  background-color: #DAE5FF;
  padding: 4.5%;
}

.main-form {
  padding: 5%;
}

.auto-margin {
  margin: auto;
  display: block;
}

.container-homepage-2 {
  display: none;
}

.container-homepage-2 .content{
  text-align: center;
}

.btn-custom{
  margin-bottom: 40px;
}

.errorlist {
  color: red;
  list-style: none;
  padding: 0px;
  margin-block-start: 0px;
    margin-block-end: 0px;
}

@media only screen and (max-width: 1030px) {
  .header-versi-satu{
    display: none;
  }

  .header-versi-dua{
    display: flex;
  }
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .container-homepage-2 {
      display: block;
    }

    .container-homepage-1 {
      display: none;
    }

    .gallery img {
    height: 80px;
    width: 80px;
  }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .side-navbar {
      visibility: hidden;
    }

    .top-navbar {
      visibility: visible;
    }

    .main {
      margin-left: 0px;
    }

    .gallery img {
    height: 120px;
    width: 120px;
  }

  .main {
    padding-top: 80px;
  }

}

@media only screen and (max-width: 675px) {
    /* For mobile phones: */
    .main {
      padding-top: 0px;
    }

    .top-navbar {
      position: static;
      margin-bottom: 40px;
    }

    .gallery img {
    height: 100px;
    width: 100px;
  }

    .navbar-nav{
      width: 100%
    }

    .row {
      display: block;
    }

    .col-10{
      max-width: unset;
    }

    .col-2{
      max-width: unset; 
    }

    .header-versi-satu{
    display: none;
  }

  .header-versi-dua{
    display: flex;
  }

  .nav-link {
      font-size: .8rem;
      font-size: .8rem;
  }
}

@media only screen and (max-width: 350px) {
    /* For mobile phones: */
    .top-navbar {
      position: static;
      margin-bottom: 40px;
    }

    .gallery img {
    height: 80px;
    width: 80px;
  }
}