<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="shortcut icon" href="{% static 'img/icon.ico' %}" />
	{% block heading %}
	{% endblock heading %}
</head>
</style>
<body>
	<nav class="navbar-nav side-navbar">
      	<li class="nav-item" id ="nav_photo">
			<a class="nav-link" href="/profile#header" id="profile_menu"><img src="{% static 'img/profile_photo.jpg' %}"></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/profile#Experience">Experience</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/profile#Education">Education</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/profile#Skills">Skills</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/profile#Accomplishments">Accomplishments</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/profile#Interests">Interests</a>
		</li>
	</nav>
	<nav class="navbar navbar-expand-sm top-navbar fixed-top">
		<ul class="navbar-nav">
	      	<li class="nav-item">
				<a class="nav-link" href="/profile#header2">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile#Experience2">Experience</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile#Education2">Education</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile#Skills2">Skills</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile#Accomplishments2">Accomplishments</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/profile#Interests2">Interests</a>
			</li>
		</ul>
	</nav>
	{% block content %}
	{% endblock content %}
</body>
</html>